<div class="box">
  <input (keyup)="searchTerm$.next($event.target.value)">

  <ul *ngIf="results">
    <li *ngFor="let result of results | slice:0:10">
      <a href="{{ result.latest }}" target="_blank">
        {{ result.name }}
      </a>
    </li>
  </ul>
</div>

<hr>

<div class="description">
  <h2>Real Time Search to the cdnjs API with Observables and RxJS</h2>
  <br>
  <h4>Search Service</h4>
  <p>Import HttpClient, Observable, and rxjs debounceTime, distinctUntilChanged, and switchMap operators.</p>
  <p>The search method takes an observable of strings and uses the rxjs operators to limit the amount of requests.</p>
  <p>'debounceTime' takes a milliseconds parameter and waits until that time passes with no changes before letting the data pass through. I used 250ms.</p>
  <p>'distinctUntilChanged' ensures that only distinct or different data passes through.</p>
  <p>'switchMap' combines observable strings recieved from the searchEntries method into one variable.</p>
  <p>The searchEntries method makes the API get request with the search term after passing through the rxjs operators. This returns an observable and is automatically mapped to json by Angular HttpClient.</p>
  <br>
  <h4>Component</h4>
  <p>Initialize searchTerm variable as a new rxjs Subject and a results variable.</p>
  <p>In the constructor, call the searchService 'search' method passing in the subject and subscribing to it. In the subscription assign the local results variable to the search results.</p>
  <br>
  <h4>Template</h4>
  <p>Use the keyup event handler on the input tag to call the .next() method on the searchTerm subject, passing in the value.</p>
  <p>Iterate over the first 10 results using ngFor and the slice pipe.</p>
  <p>Lastly, use the Roboto font and apply some basic styles.</p>
  <hr>
</div>